@import "compass";

.ext-container {
  width: 300px;
  position: relative;
  .result-hidden {
    @include transform(translate(-50%, -50%));
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
