@import "compass";
@import "compass/reset";

@include global-reset();

* {
  @include box-sizing(border-box);
}

.container {
  width: 200px;
  height: 200px;
  .form-group {
    @include display-flex();
    padding-left: 15px;
    padding-right: 15px;
    .col {
      width: 50%;
      padding: 5px;
      input[type="text"],
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        font: {
          size: 16px;
        }
      }
    }
  }
}