@import "compass";

.ext-container {
  width: 300px;
  position: relative;
  .result-hidden {
    @include transform(translate(-50%, -50%));
    display: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.hint {
  font: {
    size: 10px;
  }
}

.padding-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
